.hero {
    height: 100%;
    width: 100%;
}

.mask {
    width: 100%;
    height: 100vh;
    position: relative;
}

.intro-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
}

.hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    /* border: 1px solid red; */
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero .content h1 {
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}

.hero .content p {
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: capitalize;
}

.hero .content .btn {
    margin: 1rem 0.2rem;
}

/* when max width is smaller than 640px, that time below media query will get applied. */

@media screen and (max-width: 640px) {
    .hero .content h1 {
        font-size: 3rem;
    }
    
    .hero .content p {
        font-size: 1.4rem;
    }
    
}